/*
David Puente Jr.
Semantic HTML Example Page
CIS133DA: Web Design.Development Level 1
Mesa Communit College
June 26, 2023    
*/

* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-size: 25px;
    background-color: #1D1D81;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

li {
    text-align: center;
}

body {
    background-color: #c4c4c4;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.img-container {
    margin: 1%;
    padding: 0%;
    background-color: #1d1d81;
    border-radius: 10px;
}

.musk-image {
object-fit: contain;
border-radius: 10px;
max-width: 60%;
display: block;
height: auto;
margin: auto;
}

.figcaption {
    padding-top: 20px;
}

.elon {
    text-align: left;
    padding: 30px 70px;
    max-width: 600px;
    margin: 10px auto;
    background-color: #1d1d81;
    border-radius: 10px;
}

.tesla-header {
    text-align: center;
    font-size: 17px;
    font-family:'Courier New', Courier, monospace;
    padding: 30px;
    border-radius: 10px;
}

.solar-header {
    text-align: center;
    font-size: 17px;
    font-family:'Courier New', Courier, monospace;
    padding: 30px;
    border-radius: 10px;

}

.spacex-header {
    text-align: center;
    font-size: 17px;
    font-family:'Courier New', Courier, monospace;
    padding: 30px;
}


.bold {
    font-weight: bolder;
}

li {
    margin: 20px;
}

footer a {
    color: #1d1d81;
    padding-bottom: 40px;
}
address {
color:#1d1d81
}